<div>

    {% extends "AppWeb/botines.html" %}
    {% load static %}

    {% block buscarBotines %}

        <p>Buscar Botines</p>
        <form action="/AppWeb/buscar/" method="get">
            <input placeholder="marca" type="text" name = "marca" id = "marca">
            <input type="submit" value="buscar">
            

        </form>
            {% if botines %}
            {% for botine in botines %}
                <li> {{botine.marca}} </li>
                <li> {{botine.talle}} </li>
            {% endfor %}
        {% endif %}
    {% endblock %}    

</div>